header {
      text-align: center;
      background: url("https://github.com/trp15jy/trp15jy.github.io/blob/master/header_pix.JPG?raw=true");
      background-size: cover;
      background-position: center;
      color: #ff00ff;
    }
    .NavBar {
    height: 100px;
    background-color: #B0C4DE;
}
    a {
      color: #7466ff;
      font-size: 18px;
      display: inline block;
      font-family: 'Lobster', cursive;
    }
    ul {
      margin: 0px;
      padding: 0px;
      border: 5px;
      list-style: none;
      background: black;
    }
ul li {
	float: left;
	width: 250px;
	height: 50px;
	background-color: #e6e6e6;
	opacity: .8;
	line-height: 40px;
	text-align: center;
	font-size: 20px;
}
ul li a {
	text-decoration: none;
	color: black;
	display: block;
}
ul li a:hover {
	background-color: #B0C4DE;	
}
ul li ul li {
	display: none;
}
ul li:hover ul li {
	display: block;
}
body {
	background-color: #e6e6e6;
}
h1 {
	font-family:'Londrina Shadow', cursive;
  	text-align: center;
  	font-size: 85px;
  	color: #00bfff;
  	margin: 60px 0 0 0;
}
h2 {
	color:#00bfff;
	margin: 0px 0 70px 0;
	font-family: 'Lobster', cursive;
}
ul li {
	color:#221122;
	font-family: Tahoma;
	font-size: ;
}
img {
      margin: 40px 0px 0px 0px;
      border: 5px solid white;
      border-radius: 20px;
    }
    form {
    	text-align: center;
    	font-family: 'Lobster', cursive;
    }
input[type="submit"] {
      background: #00bfff;
      color: #4d194d;
    }
form p {
	color:#008080;
	font-size: 16px;
	font-family: 'Lobster', cursive;
}
p {
	color: #008080;
	font-size: 12px;
}
.about {
	font-family: ;
}
div {
	padding: 10px;
	display: inline;
}

.person {
	border: 10px solid transparent;
	margin-bottom: 25px;
	width: auto;
	height: 80%;
	opacity: 0.7;
}
.person:hover {
	border-color: #f1f1f1;
}
<img src="http://ichef.bbci.co.uk/food/ic/food_16x9_608/cuisines/american_16x9.jpg" class="img-circle" alt="Random Name">
<img src="bandmember.jpg" class="img-circle" alt="Random Name">
footer {
	text-align: center;
	color: #ff00ff;
	background-color: #a6a6a6;
	font-family: 'Lobster', cursive;
	clear: both;
}
a {
	height: 50px;
	width: 50px;
	font-size: 0px;
	display: inline-block;
	background: url ('https://img.clipartfest.com/5f501c692bb9c6782efc7af0f4bcf349_facebook-icon-circle-vector-facebook-logo_512-512.png');
	transition: background .2s;
}
img {
	margin: 30px 0px 0px 0px;
	border: 10px solid transparent;
	border-radius: 30px;
	width: 350px;
	height: 350px;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}		
